@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicación de Gastos</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="/Gastos/Create">Crear un gasto</a></h2>
     
    </div>
</div>